@charset "utf-8";
@import '~sweetalert2/src/sweetalert2';
@import 'base/index'; // Сетка, лейауты, сброс стилей
@import 'elements/transitions';

* {
    box-sizing: border-box;
    margin: 0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
      background-color: transparent;
      -webkit-transition-delay: 9999s;
      transition-delay: 9999s;
      -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
      transition: color 9999s ease-out, background-color 9999s ease-out;
  }

  html {
    font-size: $font-size-base;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    overflow-y: auto !important;
  }

  body {
    min-width: 320px;
    font-weight: 400;
    font-family: $font-base;
    color: $main-color;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  div.input-group__error {
    flex: none;
  }

  .list__tile,
  .list__group__header {
    border-right: 3px solid transparent;
    &:hover {
      border-right-color: rgb(255, 202, 0);
    }
    &--active {
      border-right-color: #ff9000;
    }
  }
  .list__group__header > div > .list__tile:hover {
    border: none;
  }

.messages .v-list__tile--link{
  height: 55px !important;
}
