@charset "utf-8";
@import '~sweetalert2/src/sweetalert2';
@import 'base/index'; // Сетка, лейауты, сброс стилей
@import 'elements/transitions';

* {
    box-sizing: border-box;
    margin: 0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
      background-color: transparent;
      -webkit-transition-delay: 9999s;
      transition-delay: 9999s;
      -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
      transition: color 9999s ease-out, background-color 9999s ease-out;
  }

  html {
    font-size: $font-size-base;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    overflow-y: auto !important;
  }

  body {
    min-width: 320px;
    font-weight: 400;
    font-family: $font-base;
    color: $main-color;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  div.input-group__error {
    flex: none;
  }

  .employee__avatar,
  .employee__descr {
    width: 100%;
  }
  .employee__avatar {
    @include sm-b {
      width: 30%;
      min-width: 30%;
    }
  }

  .employee__descr {
    font-size: 12px;
    padding:  5px 20px;
    @include xs-b {
      font-size: 14px;
    }
    @include sm-b {
      width: 70%;
      padding:  10px 45px;
      font-size: 16px;
    }
  }

  .employee__avatar-container {
    position: relative;
    width: 100%;
    max-width: 256px;
    margin: 0 auto;
    box-shadow: 0 0 13px rgba(0, 0, 0, .5);
    border-radius: 3px;
    overflow: hidden;
    @include sm-b {
      max-width: 316px;
    }
  }

  .employee {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 95%;
    margin: 30px auto; 
    padding: 0;   
    box-shadow: 0 0 13px rgba(0, 0, 0, .5);
    @include sm-b {
      width: 90%;
      padding: 15px;
      border-radius: 5px;
    }
  }
  .employee::before,
  .employee::after {
    content: "";
    display: block;
    clear: both;
  }

  .avatar__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .3s;
  }
  .employee__avatar:hover .avatar__overlay  {
    opacity: 1;
  }
  .employee__avatar img {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .employee__create {
    max-width: 980px;
    margin: 15px auto;
    .card {
      padding: 15px;
      text-align: center;
    }
  }

  .list__tile,
  .list__group__header {
    border-right: 3px solid transparent;
    &:hover {
      border-right-color: rgb(255, 202, 0);
    }
    &--active {
      border-right-color: #ff9000;
    }
  }
  .list__group__header > div > .list__tile:hover {
    border: none;
  }
