#positions {
  position: relative;
  max-width: 90%;
  margin: 10px auto;
}

.v-dialog__container {
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.card__title.t-head {
  padding: 0 15px;
}

span {
  cursor: pointer;
}