#positions {
  position: relative;
  max-width: 90%;
  margin: 10px auto;
}

.mb-2.btn {
  position: absolute;
  bottom: -50px;
}

.card__title.t-head {
  padding: 0 15px;
}

span {
  cursor: pointer;
}